aiohttp
aiosignal
apache-beam
asttokens
async-timeout
attrs
backcall
certifi
charset-normalizer
cloudpickle
comm
crcmod
datasets
debugpy
decorator
dill
docopt
executing
fastavro
fasteners
frozenlist
fsspec
grpcio
hdfs
httplib2
huggingface-hub
idna
pykernel
ipython
jedi
jupyter_client
jupyter_core
matplotlib-inline
multidict
multiprocess
nest-asyncio
numpy
objsize
orjson
packaging
pandas
parso
pexpect
pickleshare
platformdirs
prompt-toolkit
proto-plus
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pydot
Pygments
pymongo
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
responses
sentencepiece
six
stack-data
tokenizers
tornado
tqdm
traitlets
transformers
typing_extensions
urllib3
wcwidth
xxhash
yarl
zstandard
